# v6
# Configuration for build.leia

# Define your own, personalized string to the System information screen
MY_GIT_VERSION="by kekePower"

# Here you can define your CPU for optimizations during compilation
# See https://github.com/graysky2/kernel_gcc_patch/blob/master/README.md
# for an explanation.
# Sometimes "native" is the best choice. Other times, a specific setting will yield
# better performance.
# I use "amdfam10" for my AMD Phenom II X4 CPU
MY_CPU_ARCH=native

# Set your color theme
# Your options are
# original, crazy, inverted, white, black
THEME=original

# Edit this to install to another directory
PREFIX="/opt/leia"

# Set this variable to false if you don't want to install Kodi
# globally. You will also have to edit the PREFIX above
# to a directory your user has write access to.
USE_SUDO=true

# You can set extra flags to cmake here
# This will look for extra libraries in /usr/local
CMAKE_FLAGS="CMAKE_PREFIX_PATH=/usr/local"

# If you want to pull from a different source than the Kodi main
# repository, you can set it here
SOURCE=https://github.com/xbmc/xbmc

INCLUDEDIR="${HOME}/bin/include"

# This is the location of the log output
# Will create a separate log file for every build based on the time you started
LOGGYLOGFILE="${HOME}/Documents/log/build.leia.log-$(date +%F)-$(date +%T)"

# Language option.
# Supports
# * Norwegian Bokmål (no_NB)
# * American English (en_US)
#
MyLANG=en_US

# Set the path to you Java installation
# Uncomment if you want to use the system included java installation
export JAVA_HOME=/opt/jdk

# Set this path to where you keep the Kodi source
KODIDIR=${HOME}/kodi # This one is where you keep the Leia directory
